In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn.metrics import accuracy_score

In [3]:
df=pd.read_csv('E0 (1).csv')
df2 = pd.read_csv('E0 (2).csv')
df3 =pd.read_csv('E0 (3).csv')
df4 = pd.read_csv('E0 (4).csv')
df5 = pd.read_csv('E0 (5).csv')

In [4]:
pd.set_option('display.expand_frame_repr', False)

In [5]:
df.tail()

    Div        Date   Time          HomeTeam   AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  ... AvgC<2.5  AHCh  B365CAHH  B365CAHA  PCAHH  PCAHA  MaxCAHH  MaxCAHA  AvgCAHH  AvgCAHA
145  E0  04/12/2019  19:30       Southampton    Norwich     2     1   H     2     0  ...     2.24 -0.75      2.00      1.93   2.00   1.93     2.05     1.94     2.00     1.89
146  E0  04/12/2019  19:30            Wolves   West Ham     2     0   H     1     0  ...     2.03 -0.75      1.88      2.05   1.88   2.05     1.95     2.06     1.87     2.01
147  E0  04/12/2019  20:15         Liverpool    Everton     5     2   H     4     2  ...     2.20 -0.75      1.83      2.10   1.84   2.10     1.85     2.27     1.80     2.10
148  E0  05/12/2019  19:30  Sheffield United  Newcastle     0     2   A     0     1  ...     1.69 -0.50      1.75      2.05   1.79   2.16     1.90     2.17     1.79     2.08
149  E0  05/12/2019  20:15           Arsenal   Brighton     1     2   A     0     1  ...     2.65 -0.75      1.83      2.10   1.83   2.11     1.87     2.13     1.82     2.08

[5 rows x 106 columns]

In [6]:
new_df = df.append(df2)

/Users/carterbouley/anaconda3/envs/learn-env/lib/python3.6/site-packages/pandas/core/frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [7]:
new_df = new_df.append(df3)
new_df = new_df.append(df4)
new_df = new_df.append(df5)

In [8]:
new_df = new_df[['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'PSH', 'PSD', 'PSA' ]]

In [9]:
new_df.head()

  Div        Date        HomeTeam          AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  ...  AF  HC  AC  HY  AY  HR  AR    PSH   PSD    PSA
0  E0  09/08/2019       Liverpool           Norwich     4     1   H     4     0   H  ...   9  11   2   0   2   0   0   1.15  9.59  18.05
1  E0  10/08/2019        West Ham          Man City     0     5   A     0     1   A  ...  13   1   1   2   2   0   0  11.68  6.53   1.26
2  E0  10/08/2019     Bournemouth  Sheffield United     1     1   D     0     0   D  ...  19   3   4   2   1   0   0   2.04  3.57   3.90
3  E0  10/08/2019         Burnley       Southampton     3     0   H     0     0   D  ...  12   2   7   0   0   0   0   2.71  3.31   2.81
4  E0  10/08/2019  Crystal Palace           Everton     0     0   D     0     0   D  ...  14   6   2   2   1   0   1   3.21  3.37   2.39

[5 rows x 26 columns]

In [10]:
new_df.drop(columns = 'Div')

           Date        HomeTeam          AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR   Referee  ...  AF  HC  AC  HY  AY  HR  AR    PSH   PSD    PSA
0    09/08/2019       Liverpool           Norwich     4     1   H     4     0   H  M Oliver  ...   9  11   2   0   2   0   0   1.15  9.59  18.05
1    10/08/2019        West Ham          Man City     0     5   A     0     1   A    M Dean  ...  13   1   1   2   2   0   0  11.68  6.53   1.26
2    10/08/2019     Bournemouth  Sheffield United     1     1   D     0     0   D  K Friend  ...  19   3   4   2   1   0   0   2.04  3.57   3.90
3    10/08/2019         Burnley       Southampton     3     0   H     0     0   D   G Scott  ...  12   2   7   0   0   0   0   2.71  3.31   2.81
4    10/08/2019  Crystal Palace           Everton     0     0   D     0     0   D    J Moss  ...  14   6   2   2   1   0   1   3.21  3.37   2.39
..          ...             ...               ...   ...   ...  ..   ...   ...  ..       ...  ...  ..  ..  ..  ..  ..  ..  ..    ...   ...    ...
375    15/05/16           Stoke          West Ham     2     1   H     0     1   A   M Jones  ...  12   4  10   3   1   0   0   3.48  3.82   2.12
376    15/05/16         Swansea          Man City     1     1   D     1     1   D    M Dean  ...  19   4   4   1   3   0   0   6.46  4.79   1.52
377    15/05/16         Watford        Sunderland     2     2   D     0     1   A  K Friend  ...  10   7   4   1   0   0   0   2.03  3.80   3.78
378    15/05/16       West Brom         Liverpool     1     1   D     1     1   D  R Madley  ...  14   7   5   3   1   0   0   2.42  3.70   2.97
379    17/05/16      Man United       Bournemouth     3     1   H     1     0   H    J Moss  ...   8   7   1   1   0   0   0   1.67  4.13   5.61

[1670 rows x 25 columns]

In [11]:
new_df2 = new_df.copy()

In [12]:
new_df['Team'] = new_df.HomeTeam
new_df['Opponent'] = new_df.AwayTeam

In [13]:
new_df2['Team'] = new_df.AwayTeam
new_df2['Opponent'] = new_df.HomeTeam

In [14]:
df3 = pd.concat([new_df, new_df2])

In [15]:
df3

    Div        Date        HomeTeam          AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  ...  AC  HY  AY  HR  AR    PSH   PSD    PSA            Team          Opponent
0    E0  09/08/2019       Liverpool           Norwich     4     1   H     4     0   H  ...   2   0   2   0   0   1.15  9.59  18.05       Liverpool           Norwich
1    E0  10/08/2019        West Ham          Man City     0     5   A     0     1   A  ...   1   2   2   0   0  11.68  6.53   1.26        West Ham          Man City
2    E0  10/08/2019     Bournemouth  Sheffield United     1     1   D     0     0   D  ...   4   2   1   0   0   2.04  3.57   3.90     Bournemouth  Sheffield United
3    E0  10/08/2019         Burnley       Southampton     3     0   H     0     0   D  ...   7   0   0   0   0   2.71  3.31   2.81         Burnley       Southampton
4    E0  10/08/2019  Crystal Palace           Everton     0     0   D     0     0   D  ...   2   2   1   0   1   3.21  3.37   2.39  Crystal Palace           Everton
..   ..         ...             ...               ...   ...   ...  ..   ...   ...  ..  ...  ..  ..  ..  ..  ..    ...   ...    ...             ...               ...
375  E0    15/05/16           Stoke          West Ham     2     1   H     0     1   A  ...  10   3   1   0   0   3.48  3.82   2.12        West Ham             Stoke
376  E0    15/05/16         Swansea          Man City     1     1   D     1     1   D  ...   4   1   3   0   0   6.46  4.79   1.52        Man City           Swansea
377  E0    15/05/16         Watford        Sunderland     2     2   D     0     1   A  ...   4   1   0   0   0   2.03  3.80   3.78      Sunderland           Watford
378  E0    15/05/16       West Brom         Liverpool     1     1   D     1     1   D  ...   5   3   1   0   0   2.42  3.70   2.97       Liverpool         West Brom
379  E0    17/05/16      Man United       Bournemouth     3     1   H     1     0   H  ...   1   1   0   0   0   1.67  4.13   5.61     Bournemouth        Man United

[3340 rows x 28 columns]

In [16]:
def home_away_numerical(df):
    """
    Simple function to assign a numerical value to whether a team is home/away. In this case, home=1 away=0. Same methodology
    as above, chunk list to pd.concat().
    """
    team_list = df.HomeTeam.unique()
    chunks = []
    for team in team_list:
        all_games = df[df['Team']==team]
        all_games['HomeAway'] = 1
        all_games.loc[all_games['AwayTeam']==team,'HomeAway'] = 0
        chunks.append(all_games)
    dataframe = pd.concat(chunks,ignore_index=True)
    return dataframe

In [17]:
df3 = home_away_numerical(df3) # generates home dummy variable

/Users/carterbouley/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/carterbouley/anaconda3/envs/learn-env/lib/python3.6/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [18]:
df3.head()

  Div        Date   HomeTeam   AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  ... HY  AY  HR  AR   PSH   PSD    PSA       Team   Opponent  HomeAway
0  E0  09/08/2019  Liverpool    Norwich     4     1   H     4     0   H  ...  0   2   0   0  1.15  9.59  18.05  Liverpool    Norwich         1
1  E0  24/08/2019  Liverpool    Arsenal     3     1   H     1     0   H  ...  1   1   0   0  1.48  4.98   6.47  Liverpool    Arsenal         1
2  E0  14/09/2019  Liverpool  Newcastle     3     1   H     2     1   H  ...  0   0   0   0  1.16  8.41  20.60  Liverpool  Newcastle         1
3  E0  05/10/2019  Liverpool  Leicester     2     1   H     1     0   H  ...  1   4   0   0  1.47  4.77   7.18  Liverpool  Leicester         1
4  E0  27/10/2019  Liverpool  Tottenham     2     1   H     0     1   A  ...  3   3   0   0  1.55  4.48   6.22  Liverpool  Tottenham         1

[5 rows x 29 columns]

In [19]:
df3 = df3[[ 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee','HST', 'AST', 'HC',
       'AC', 'HR', 'AR', 'PSH', 'PSD', 'PSA', 'Team', 'Opponent', 'HomeAway' ]]

In [20]:
df3 = home_away_numerical(df3)

/Users/carterbouley/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [21]:
df4 = df3[['Team', 'Opponent', 'HomeAway', 'Date',  'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee','HST', 'AST', 'HC',
       'AC', 'HR', 'AR', 'PSH', 'PSD', 'PSA', ]].copy()

In [23]:

team_list = df4.Team.unique()
team_list = team_list.tolist()

list_of_hthg = []
for team in team_list:
    dfnew = df4.loc[(df4.Team==team) & (df4.HomeAway == 1)]['HTHG'].mean()
    list_of_hthg.append(dfnew)
    
team_list = df4.Team.unique()
team_list = team_list.tolist()
 
average_hthg = dict(zip(team_list, list_of_hthg))

list_of_htag = []
for team in team_list:
    dfnew = df4.loc[(df4.Team==team) & (df4.HomeAway == 0)]['HTAG'].mean()
    list_of_htag.append(dfnew)
    
team_list = df4.Team.unique()
team_list = team_list.tolist()
 
average_htag = dict(zip(team_list, list_of_htag))

list_of_fthg = []
for team in team_list:
    dfnew = df4.loc[(df4.Team==team) & (df4.HomeAway == 1)]['FTHG'].mean()
    list_of_fthg.append(dfnew)
    
team_list = df4.Team.unique()
team_list = team_list.tolist()
 
average_fthg = dict(zip(team_list, list_of_fthg))

list_of_ftag = []
for team in team_list:
    dfnew = df4.loc[(df4.Team==team) & (df4.HomeAway == 0)]['FTAG'].mean()
    list_of_ftag.append(dfnew)
    
team_list = df4.Team.unique()
team_list = team_list.tolist()
 
average_ftag = dict(zip(team_list, list_of_ftag))

list_of_hst = []
for team in team_list:
    dfnew = df4.loc[(df4.Team==team) & (df4.HomeAway == 1)]['HST'].mean()
    list_of_hst.append(dfnew)
    
team_list = df4.Team.unique()
team_list = team_list.tolist()
 
average_hst = dict(zip(team_list, list_of_hst))

list_of_ast = []
for team in team_list:
    dfnew = df4.loc[(df4.Team==team) & (df4.HomeAway == 0)]['AST'].mean()
    list_of_ast.append(dfnew)
    
team_list = df4.Team.unique()
team_list = team_list.tolist()
 
average_ast = dict(zip(team_list, list_of_ast))

list_of_hc = []
for team in team_list:
    dfnew = df4.loc[(df4.Team==team) & (df4.HomeAway == 1)]['HC'].mean()
    list_of_hc.append(dfnew)
    
team_list = df4.Team.unique()
team_list = team_list.tolist()
 
average_hc = dict(zip(team_list, list_of_hc))

list_of_ac = []
for team in team_list:
    dfnew = df4.loc[(df4.Team==team) & (df4.HomeAway == 0)]['AC'].mean()
    list_of_ac.append(dfnew)
    
team_list = df4.Team.unique()
team_list = team_list.tolist()
 
average_ac = dict(zip(team_list, list_of_ac))

list_of_hr = []
for team in team_list:
    dfnew = df4.loc[(df4.Team==team) & (df4.HomeAway == 1)]['HR'].mean()
    list_of_hr.append(dfnew)
    
team_list = df4.Team.unique()
team_list = team_list.tolist()
 
average_hr = dict(zip(team_list, list_of_hr))

list_of_ar = []
for team in team_list:
    dfnew = df4.loc[(df4.Team==team) & (df4.HomeAway == 0)]['AR'].mean()
    list_of_ar.append(dfnew)
    
team_list = df4.Team.unique()
team_list = team_list.tolist()
 
average_ar = dict(zip(team_list, list_of_ar))

In [24]:

df4['average_hthg'] = df4['Team'].map(average_hthg)
df4['average_htag'] = df4['Team'].map(average_htag)
df4['average_fthg'] = df4['Team'].map(average_fthg)
df4['average_ftag'] = df4['Team'].map(average_ftag)
df4['average_hst'] = df4['Team'].map(average_hst)
df4['average_ast'] = df4['Team'].map(average_ast)
df4['average_hc'] = df4['Team'].map(average_hc)
df4['average_ac'] = df4['Team'].map(average_ac)
df4['average_hr'] = df4['Team'].map(average_hr)
df4['average_ar'] = df4['Team'].map(average_ar)

In [25]:
df4.columns

Index(['Team', 'Opponent', 'HomeAway', 'Date', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HST', 'AST', 'HC', 'AC', 'HR', 'AR', 'PSH',
       'PSD', 'PSA', 'average_hthg', 'average_htag', 'average_fthg',
       'average_ftag', 'average_hst', 'average_ast', 'average_hc',
       'average_ac', 'average_hr', 'average_ar'],
      dtype='object')

In [26]:
df5 = df4[['Team', 'Opponent', 'HomeAway', 'Date', 'Referee', 'PSH',
       'PSD', 'PSA', 'average_hthg', 'average_htag',
       'average_fthg', 'average_ftag', 'average_hst', 'average_ast',
       'average_hc', 'average_ac', 'average_hr', 'average_ar', 'FTR']].copy()

In [27]:
df5.Date = pd.to_datetime(df5.Date)
df5 =  df5.sort_values(by='Date', ascending = True)

In [28]:
df5.tail()

           Team   Opponent  HomeAway       Date     Referee    PSH   PSD    PSA  average_hthg  average_htag  average_fthg  average_ftag  average_hst  average_ast  average_hc  average_ac  average_hr  average_ar FTR
26    Liverpool     Wolves         1 2019-12-05  M Atkinson   1.31  5.77  10.54      1.154762      0.771084      2.404762      1.795181     6.607143     5.253012    6.869048    6.132530    0.035714    0.048193   H
1634    Watford   West Ham         1 2019-12-05  C Kavanagh   2.20  3.85   3.21      0.421687      0.476190      1.228916      0.988095     3.963855     3.345238    4.867470    4.333333    0.108434    0.095238   A
1224  Tottenham    Everton         1 2019-12-05  A Marriner   2.10  3.64   3.64      0.867470      0.809524      2.048193      1.797619     6.590361     5.130952    7.036145    5.488095    0.012048    0.071429   D
1995     Wolves  Liverpool         0 2019-12-05  M Atkinson   1.31  5.77  10.54      0.481481      0.384615      1.481481      1.076923     4.111111     3.807692    5.333333    4.923077    0.000000    0.115385   H
2188   Brighton   Man City         1 2019-12-05    M Oliver  15.63  8.17   1.18      0.466667      0.391304      1.177778      0.739130     3.355556     2.869565    4.822222    3.652174    0.088889    0.086957   A

In [29]:
df_odds = df5[['PSH', 'PSD', 'PSA']]

In [30]:
df5 = df5.drop(df_odds, axis=1 )

In [31]:
df5

             Team     Opponent  HomeAway       Date     Referee  average_hthg  average_htag  average_fthg  average_ftag  average_hst  average_ast  average_hc  average_ac  average_hr  average_ar FTR
3235   Sunderland      Everton         0 2015-01-11  A Marriner      0.394737      0.368421      1.026316      1.000000     3.631579     3.315789    4.868421    3.552632    0.078947    0.078947   H
1929  Bournemouth  Southampton         0 2015-01-11    C Pawson      0.638554      0.595238      1.481928      1.142857     4.445783     3.750000    5.698795    5.166667    0.048193    0.035714   H
237   Southampton  Bournemouth         1 2015-01-11    C Pawson      0.607143      0.457831      1.333333      1.048193     4.559524     4.060241    5.726190    5.192771    0.107143    0.072289   H
2490      Everton   Sunderland         1 2015-01-11  A Marriner      0.722892      0.523810      1.722892      1.095238     4.698795     4.000000    5.963855    4.559524    0.036145    0.154762   H
1268    Tottenham  Aston Villa         1 2015-02-11      M Dean      0.867470      0.809524      2.048193      1.797619     6.590361     5.130952    7.036145    5.488095    0.012048    0.071429   H
...           ...          ...       ...        ...         ...           ...           ...           ...           ...          ...          ...         ...         ...         ...         ...  ..
26      Liverpool       Wolves         1 2019-12-05  M Atkinson      1.154762      0.771084      2.404762      1.795181     6.607143     5.253012    6.869048    6.132530    0.035714    0.048193   H
1634      Watford     West Ham         1 2019-12-05  C Kavanagh      0.421687      0.476190      1.228916      0.988095     3.963855     3.345238    4.867470    4.333333    0.108434    0.095238   A
1224    Tottenham      Everton         1 2019-12-05  A Marriner      0.867470      0.809524      2.048193      1.797619     6.590361     5.130952    7.036145    5.488095    0.012048    0.071429   D
1995       Wolves    Liverpool         0 2019-12-05  M Atkinson      0.481481      0.384615      1.481481      1.076923     4.111111     3.807692    5.333333    4.923077    0.000000    0.115385   H
2188     Brighton     Man City         1 2019-12-05    M Oliver      0.466667      0.391304      1.177778      0.739130     3.355556     2.869565    4.822222    3.652174    0.088889    0.086957   A

[3340 rows x 16 columns]

In [32]:
df6 = df5.drop(columns = 'Referee')

In [33]:
y = df6.FTR
x = df6.drop(columns = ['FTR', 'Date'])

saved = df6.drop(columns = ['FTR', 'Date'])

In [34]:
x= pd.get_dummies(x)

In [35]:
x_train = x.iloc[:2672]
x_test = x.iloc[2672:]
y_train = y.iloc[:2672]
y_test = y.iloc[2672:]

In [36]:
tree = DecisionTreeClassifier()

tree.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [37]:
tree.score(x_train, y_train)

0.7297904191616766

In [38]:
preds = tree.predict(x_test)

In [39]:
accuracy_score(y_test, preds)

0.4476047904191617

In [40]:
tree.classes_

array(['A', 'D', 'H'], dtype=object)

In [41]:
x_test['Team']=saved['Team']

/Users/carterbouley/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [42]:
x_test['Opponent']=saved['Opponent']

/Users/carterbouley/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
result = pd.concat([x_test, probabilities], axis=1)

NameError: name 'probabilities' is not defined

In [44]:
x_test.tail()

      HomeAway  average_hthg  average_htag  average_fthg  average_ftag  average_hst  average_ast  average_hc  average_ac  average_hr  ...  Opponent_Stoke  Opponent_Sunderland  Opponent_Swansea  Opponent_Tottenham  Opponent_Watford  Opponent_West Brom  Opponent_West Ham  Opponent_Wolves       Team   Opponent
26           1      1.154762      0.771084      2.404762      1.795181     6.607143     5.253012    6.869048    6.132530    0.035714  ...               0                    0                 0                   0                 0                   0                  0                1  Liverpool     Wolves
1634         1      0.421687      0.476190      1.228916      0.988095     3.963855     3.345238    4.867470    4.333333    0.108434  ...               0                    0                 0                   0                 0                   0                  1                0    Watford   West Ham
1224         1      0.867470      0.809524      2.048193      1.797619     6.590361     5.130952    7.036145    5.488095    0.012048  ...               0                    0                 0                   0                 0                   0                  0                0  Tottenham    Everton
1995         0      0.481481      0.384615      1.481481      1.076923     4.111111     3.807692    5.333333    4.923077    0.000000  ...               0                    0                 0                   0                 0                   0                  0                0     Wolves  Liverpool
2188         1      0.466667      0.391304      1.177778      0.739130     3.355556     2.869565    4.822222    3.652174    0.088889  ...               0                    0                 0                   0                 0                   0                  0                0   Brighton   Man City

[5 rows x 71 columns]

In [45]:
probabilities

NameError: name 'probabilities' is not defined

In [46]:
df7 = df6.iloc[2672:]

In [47]:
new_df.Date = pd.to_datetime(new_df.Date)
df_final =  new_df.sort_values(by='Date', ascending = True)

In [48]:
saved

             Team     Opponent  HomeAway  average_hthg  average_htag  average_fthg  average_ftag  average_hst  average_ast  average_hc  average_ac  average_hr  average_ar
3235   Sunderland      Everton         0      0.394737      0.368421      1.026316      1.000000     3.631579     3.315789    4.868421    3.552632    0.078947    0.078947
1929  Bournemouth  Southampton         0      0.638554      0.595238      1.481928      1.142857     4.445783     3.750000    5.698795    5.166667    0.048193    0.035714
237   Southampton  Bournemouth         1      0.607143      0.457831      1.333333      1.048193     4.559524     4.060241    5.726190    5.192771    0.107143    0.072289
2490      Everton   Sunderland         1      0.722892      0.523810      1.722892      1.095238     4.698795     4.000000    5.963855    4.559524    0.036145    0.154762
1268    Tottenham  Aston Villa         1      0.867470      0.809524      2.048193      1.797619     6.590361     5.130952    7.036145    5.488095    0.012048    0.071429
...           ...          ...       ...           ...           ...           ...           ...          ...          ...         ...         ...         ...         ...
26      Liverpool       Wolves         1      1.154762      0.771084      2.404762      1.795181     6.607143     5.253012    6.869048    6.132530    0.035714    0.048193
1634      Watford     West Ham         1      0.421687      0.476190      1.228916      0.988095     3.963855     3.345238    4.867470    4.333333    0.108434    0.095238
1224    Tottenham      Everton         1      0.867470      0.809524      2.048193      1.797619     6.590361     5.130952    7.036145    5.488095    0.012048    0.071429
1995       Wolves    Liverpool         0      0.481481      0.384615      1.481481      1.076923     4.111111     3.807692    5.333333    4.923077    0.000000    0.115385
2188     Brighton     Man City         1      0.466667      0.391304      1.177778      0.739130     3.355556     2.869565    4.822222    3.652174    0.088889    0.086957

[3340 rows x 13 columns]

In [49]:
df_final[668:]

    Div       Date        HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  ... AC  HY  AY  HR  AR    PSH   PSD    PSA            Team     Opponent
296  E0 2017-04-04         Watford    West Brom     2     0   H     1     0   H  ...  6   1   4   1   0   2.56  3.16   3.19         Watford    West Brom
295  E0 2017-04-04      Man United      Everton     1     1   D     0     1   A  ...  5   1   4   0   1   1.57  4.23   6.75      Man United      Everton
294  E0 2017-04-04       Leicester   Sunderland     2     0   H     0     0   D  ...  6   0   1   0   0   1.48  4.61   7.92       Leicester   Sunderland
293  E0 2017-04-04         Burnley        Stoke     1     0   H     0     0   D  ...  5   3   2   0   0   2.48  3.07   3.43         Burnley        Stoke
100  E0 2017-04-11    Huddersfield    West Brom     1     0   H     1     0   H  ...  5   1   4   1   0   2.78  3.01   3.04    Huddersfield    West Brom
..   ..        ...             ...          ...   ...   ...  ..   ...   ...  ..  ... ..  ..  ..  ..  ..    ...   ...    ...             ...          ...
372  E0 2019-12-05  Crystal Palace  Bournemouth     5     3   H     3     1   H  ...  4   3   0   0   0   1.88  4.14   3.95  Crystal Palace  Bournemouth
371  E0 2019-12-05         Burnley      Arsenal     1     3   A     0     0   D  ...  5   5   1   0   0   3.15  3.80   2.25         Burnley      Arsenal
370  E0 2019-12-05        Brighton     Man City     1     4   A     1     2   A  ...  6   0   0   0   0  15.63  8.17   1.18        Brighton     Man City
376  E0 2019-12-05      Man United      Cardiff     0     2   A     0     1   A  ...  2   3   3   0   0   1.28  6.33  10.21      Man United      Cardiff
379  E0 2019-12-05         Watford     West Ham     1     4   A     0     2   A  ...  2   1   0   1   0   2.20  3.85   3.21         Watford     West Ham

[1002 rows x 28 columns]

In [51]:
len(df_final)

1670

In [56]:
df_final.duplicated().sum()

0

In [63]:
df_final.groupby('HomeTeam').describe()

                  FTHG                                               FTAG            ...     PSD          PSA
                 count      mean       std  min  25%  50%  75%  max count      mean  ...     75%    max count       mean       std   min     25%     50%      75%    max
HomeTeam                                                                             ...
Arsenal           84.0  2.142857  1.233497  0.0  1.0  2.0  3.0  5.0  84.0  0.892857  ...  5.7750  13.62  84.0   8.139524  4.496138  1.80  5.1100   7.400  10.5900  28.49
Aston Villa       26.0  0.923077  0.844894  0.0  0.0  1.0  2.0  2.0  26.0  1.615385  ...  4.0475   5.63  26.0   2.465000  0.836996  1.36  1.6900   2.405   3.1050   4.62
Bournemouth       83.0  1.481928  1.223364  0.0  1.0  1.0  2.0  6.0  83.0  1.530120  ...  3.8050   7.52  83.0   3.152892  1.184984  1.20  2.1200   3.060   4.1100   5.82
Brighton          45.0  1.177778  1.050733  0.0  0.0  1.0  2.0  4.0  45.0  1.355556  ...  3.6700   8.17  45.0   2.831111  1.024614  1.18  1.9900   2.870   3.4700   5.24
Burnley           65.0  1.200000  0.971468  0.0  1.0  1.0  2.0  4.0  65.0  1.261538  ...  3.9100   8.84  65.0   2.557538  0.882732  1.15  1.6800   2.640   3.3100   4.48
Cardiff           19.0  1.105263  1.100239  0.0  0.0  1.0  2.0  4.0  19.0  2.000000  ...  4.2750   7.97  19.0   2.260000  0.710360  1.18  1.5850   2.220   2.6700   3.71
Chelsea           84.0  1.988095  1.321682  0.0  1.0  2.0  3.0  5.0  84.0  0.976190  ...  6.1575   9.01  84.0   9.283690  4.933874  1.99  4.7925   9.000  12.0500  21.02
Crystal Palace    84.0  1.154762  1.227143  0.0  0.0  1.0  2.0  5.0  84.0  1.250000  ...  3.9775   6.95  84.0   3.328929  1.471693  1.24  2.0300   3.395   4.2225   8.40
Everton           83.0  1.722892  1.364294  0.0  1.0  2.0  3.0  6.0  83.0  1.192771  ...  4.0250   6.03  83.0   4.257831  2.000416  1.30  2.4050   3.890   5.6250   8.67
Fulham            19.0  1.157895  1.258887  0.0  0.0  1.0  1.0  4.0  19.0  1.894737  ...  4.1700   9.55  19.0   2.472105  0.905352  1.13  1.7150   2.450   2.9350   4.40
Huddersfield      38.0  0.684211  0.808912  0.0  0.0  1.0  1.0  4.0  38.0  1.473684  ...  4.4200   8.28  38.0   2.369474  0.842028  1.15  1.5900   2.320   3.1175   4.08
Hull              19.0  1.473684  1.172292  0.0  0.5  2.0  2.0  4.0  19.0  1.842105  ...  4.5950   5.82  19.0   2.634211  1.474661  1.34  1.5750   2.250   3.0900   7.29
Leicester         84.0  1.583333  1.174101  0.0  1.0  2.0  2.0  5.0  84.0  1.059524  ...  3.9800   5.89  84.0   4.096667  1.802921  1.35  2.5825   4.035   5.3325   9.41
Liverpool         84.0  2.404762  1.497943  0.0  1.0  2.0  4.0  6.0  84.0  0.821429  ...  7.0950  13.99  84.0  10.235714  6.506023  2.34  5.4075   8.535  14.0250  30.97
Man City          83.0  2.686747  1.703137  0.0  2.0  2.0  3.5  8.0  83.0  0.843373  ...  9.6350  14.96  83.0  14.881928  8.914479  2.92  7.1050  13.260  21.1450  42.94
Man United        84.0  1.654762  1.197327  0.0  1.0  2.0  2.0  4.0  84.0  0.750000  ...  5.6350   8.19  84.0   8.434167  5.077111  1.49  3.8200   7.690  11.0250  23.45
Middlesbrough     19.0  0.894737  0.809303  0.0  0.0  1.0  1.0  3.0  19.0  1.210526  ...  3.7400   5.93  19.0   2.826842  1.086130  1.29  1.8600   3.060   3.5200   5.40
Newcastle         64.0  1.312500  1.258306  0.0  0.0  1.0  2.0  6.0  64.0  1.125000  ...  3.8550   7.90  64.0   2.875469  1.061492  1.20  1.8050   2.880   3.6200   5.55
Norwich           26.0  1.461538  1.240347  0.0  1.0  1.0  2.0  4.0  26.0  1.846154  ...  3.9250   9.48  26.0   2.702692  0.921306  1.14  1.8500   2.780   3.3400   4.60
Sheffield United   8.0  1.125000  1.246423  0.0  0.0  1.0  1.5  3.0   8.0  1.125000  ...  3.6275   5.22   8.0   2.763750  1.052981  1.36  2.1325   2.650   3.1975   4.75
Southampton       84.0  1.333333  1.154701  0.0  0.0  1.0  2.0  4.0  84.0  1.452381  ...  3.9850   5.80  84.0   4.138571  1.969359  1.33  2.4250   4.035   5.4825  10.41
Stoke             57.0  1.157895  0.921751  0.0  0.0  1.0  2.0  3.0  57.0  1.368421  ...  3.7400   6.89  57.0   3.062281  1.147900  1.25  1.9800   3.060   3.8500   6.16
Sunderland        38.0  1.026316  1.102499  0.0  0.0  1.0  2.0  3.0  38.0  1.421053  ...  3.8925   6.35  38.0   2.411579  0.837308  1.30  1.7975   2.350   2.9675   5.05
Swansea           57.0  1.122807  1.119154  0.0  0.0  1.0  2.0  5.0  57.0  1.368421  ...  3.8100   6.85  57.0   2.970526  1.140657  1.25  2.0800   2.900   3.6800   5.55
Tottenham         83.0  2.048193  1.421984  0.0  1.0  2.0  3.0  5.0  83.0  0.759036  ...  6.0650   8.65  83.0   8.529518  4.582193  1.74  4.1500   8.180  12.4450  21.00
Watford           83.0  1.228916  1.039762  0.0  0.0  1.0  2.0  4.0  83.0  1.445783  ...  3.8850   6.21  83.0   3.042289  1.192764  1.29  2.0100   3.050   3.5750   6.37
West Brom         57.0  1.192982  1.092811  0.0  0.0  1.0  2.0  4.0  57.0  1.350877  ...  3.7700   6.83  57.0   2.908947  1.067580  1.26  1.8500   2.970   3.5500   5.68
West Ham          83.0  1.433735  1.049887  0.0  1.0  1.0  2.0  4.0  83.0  1.493976  ...  4.0900   6.58  83.0   3.257470  1.460184  1.25  2.0100   3.160   4.0650   8.34
Wolves            27.0  1.481481  1.014145  0.0  1.0  2.0  2.0  4.0  27.0  1.148148  ...  3.8200   6.52  27.0   4.224815  1.803510  1.27  2.5150   4.380   5.2650   8.20

[29 rows x 152 columns]

In [72]:
table = pd.pivot_table(df_final, index=['HomeTeam', 'AwayTeam'],
                     aggfunc=np.sum)

In [77]:
pd.options.display.max_rows = 999

In [78]:
table

                                   AC  AF  AR  AS  AST  AY  FTAG  FTHG  HC  HF  HR   HS  HST  HTAG  HTHG  HY    PSA    PSD    PSH
HomeTeam         AwayTeam
Arsenal          Aston Villa        8  21   0  19   11   2     2     7  14  25   1   37   13     1     1   5  26.01  14.21   2.60
                 Bournemouth       25  46   0  49   15  10     2    14  45  56   0   74   26     2     7   8  38.94  25.42   7.17
                 Brighton          17  33   0  40   15   5     3     4  31  26   0   57   25     1     2   8  26.52  15.57   4.33
                 Burnley           19  43   0  44   16  10     3    12  25  41   1   66   31     1     4   5  46.48  23.78   5.36
                 Cardiff            7  12   0  19    2   3     1     2   4  14   0   15    4     0     0   3  13.58   6.92   1.22
                 Chelsea           22  50   0  53   15   9     3     7  30  47   1   50   17     1     5   4  12.09  14.31  10.30
                 Crystal Palace    27  49   0  49   22   4     7    11  43  55   0   86   34     2     8   7  39.92  25.06   7.26
                 Everton           26  49   1  52   20   5     3    12  20  46   1   61   26     1     8   8  33.78  21.14   5.66
                 Fulham             3  12   0   9    4   1     1     4   8   7   0   16    9     0     1   0   9.02   5.58   1.34
                 Huddersfield       3  32   0  13    2   5     0     6  14  23   0   35    9     0     1   5  26.09  13.36   2.50
                 Hull               8   9   1   9    4   1     0     2   3  12   0   17    7     0     1   3  11.44   6.20   1.30
                 Leicester         10  45   1  28   11  10     5    10  38  37   0   82   27     4     3   8  24.04  17.61   6.41
                 Liverpool         28  48   0  58   28   8     8     7  24  31   0   51   18     2     1   6  13.06  15.01  10.58
                 Man City          26  56   0  60   24   7     8     4  15  35   0   35   16     6     3   6   9.08  15.43  14.18
                 Man United        18  55   1  41   17   7     3     8  25  45   0   68   27     2     4   7  14.21  14.36   8.89
                 Middlesbrough      3  13   0  11    4   0     0     0   8   6   0    9    5     0     0   1  13.55   6.28   1.27
                 Newcastle         11  28   0  28    9   3     0     4  20  34   0   46   12     0     2   6  33.13  18.56   3.93
                 Norwich            3   7   0  12    3   0     0     1   7   8   0   14    3     0     0   1  13.26   6.28   1.27
                 Southampton       22  67   1  71   26   9     5     9  39  52   1   75   29     3     6  12  31.42  21.71   7.94
                 Stoke             13  32   0  29   11   3     1     8  26  24   0   74   29     1     2   2  32.68  17.51   3.97
                 Sunderland         5  21   0  17    6   3     1     5  20  22   0   52   20     1     1   5  42.02  19.76   2.38
                 Swansea           11  30   0  28   10   3     5     6  17  24   1   51   15     3     3   0  36.58  18.71   3.89
                 Tottenham         23  86   1  62   26  12     6    10  40  62   0   87   26     5     5  11  18.18  18.79  11.16
                 Watford           23  51   0  40   16   7     2    10  27  42   0   59   26     2     3   8  38.61  21.98   5.58
                 West Brom         15  38   0  18    5   6     0     5  15  33   0   58   24     0     3   3  34.87  17.48   3.96
                 West Ham          12  36   0  39   15  10     4    10  28  50   0   80   32     2     1   7  34.94  21.24   5.66
                 Wolves            11  31   0  37   13   4     2     2  19  15   0   20    7     1     1   2  10.22   7.95   3.47
Aston Villa      Arsenal            5   7   0   8    4   0     2     0   5   8   0   18    2     2     0   0   1.60   4.24   6.24
                 Bournemouth       13  24   0  24    7   4     4     2  13  23   0   28    8     3     0   2   5.36   7.03   5.96
                 Brighton           5  17   1  20    5   2     1     2   7   9   0   24    8     1     1   1   3.09   3.51   2.39
                 Burnley            3  16   0  10    3   4     2     2   7  10   0   16    3     0     1   1   3.15   3.45   2.39
                 Chelsea            2   8   0  11    8   1     4     0   7  12   1   15    4     2     0   4   1.60   4.12   6.46
                 Crystal Palace     0   9   0   9    1   1     0     1   9  15   0   13    3     0     0   2   2.50   3.25   3.20
                 Everton           14  25   0  22    8   4     3     3   9  18   0   21    8     2     1   5   4.22   7.23   7.66
                 Leicester          4  15   0  12    5   2     1     1   3  13   0   14    5     1     0   3   2.16   3.44   3.75
                 Liverpool         16  18   0  36   15   3     8     1   2  22   0   11    3     2     1   4   3.22   9.22  13.25
                 Man City           8   7   0  13    3   1     0     0   3   7   0    3    0     0     0   1   1.44   4.93   8.15
                 Man United         5  10   0   9    2   2     1     0   3  14   0    5    1     1     0   2   1.72   3.83   5.66
                 Newcastle         11  22   0  20    8   2     0     2  11  18   0   19    8     0     2   2   5.28   7.71   7.53
                 Norwich           11  11   0  12    4   2     0     2   2  10   0   10    3     0     1   0   3.28   3.27   2.44
                 Southampton       11   9   0  17    7   0     4     2   6   8   0   16    7     2     1   2   1.58   4.20   6.61
                 Stoke              5  12   0  12    5   0     1     0   9  12   0   13    2     0     0   1   3.11   3.34   2.50
                 Sunderland         4  14   0   7    3   1     2     2   5  10   0   21    6     1     2   2   4.62   3.51   1.93
                 Swansea            6   8   0  11    4   3     2     1   4  10   0    9    3     0     0   2   2.59   3.22   3.09
                 Tottenham          8   6   0  19    8   0     2     0   5   6   0   11    2     1     0   0   1.52   4.41   7.27
                 Watford           10  13   0  14    6   3     3     2  10   6   0   12    6     1     1   2   2.85   3.25   2.77
                 West Brom          7  11   0  11    6   3     1     0   2  10   0   13    3     1     0   2   3.57   3.23   2.32
                 West Ham          10  25   1  23    5   4     1     1  11  27   0   15   13     1     0   5   5.63   6.89   5.31
Bournemouth      Arsenal           23  39   0  56   16   7     8     6  20  30   1   53   20     3     3   7   7.79  15.51  16.52
                 Aston Villa        3  13   0   7    3   4     1     0   6  13   0   11    2     0     0   3   4.27   3.65   1.95
                 Brighton           9  30   1  19    7   0     1     4  12  13   0   29    6     0     1   2   8.14   6.99   4.12
                 Burnley           13  38   0  35   10   5     6     4  14  27   0   38   10     3     2   2  12.50  10.79   6.02
                 Cardiff            4   9   0  10    1   1     0     2   7  11   0   12    4     0     1   1   4.58   3.63   1.89
                 Chelsea           23  26   0  60   21   3     8     6  22  31   0   44   13     4     2   6   7.27  16.41  20.58
                 Crystal Palace    18  57   0  42   12  10     5     4  24  41   0   51   16     0     1   6  13.16  14.01   9.38
                 Everton           21  57   1  55   17   9     7    11  32  41   1   80   29     3     3   4  13.18  17.59  14.75
                 Fulham             7  18   0  17    5   3     1     0   3  11   0   15    5     0     0   1   5.05   4.32   1.68
                 Huddersfield      19  21   0  43    9   4     1     6  12  27   1   17    7     1     4   7  11.05   7.31   3.54
                 Hull               4  14   0  11    4   3     1     6   5   8   0   22   10     1     3   0   5.05   3.61   1.83
                 Leicester         26  59   1  38   15   9     3     6  19  33   0   43   14     0     5   6  12.41  14.04   9.91
                 Liverpool         22  47   0  60   20   4    13     5  17  32   0   44   17     8     0   5   7.03  16.86  20.93
                 Man City          35  53   1  93   32  13    12     2  13  44   0   35   13     7     2   9   7.33  29.14  48.43
                 Man United        29  54   0  68   28   9     8     5  30  54   0   63   23     4     3  13  10.24  18.32  20.18
                 Middlesbrough      3  14   1   5    2   2     0     4   4   4   0   20   10     0     2   0   4.24   3.79   1.93
                 Newcastle          7  33   0  29    9   8     5     4  30  30   0   48   13     4     0   6  11.21  10.50   6.42
                 Norwich           10  24   0  20    4   4     0     3  11  16   0   26   10     0     1   2   8.99   8.15   3.61
                 Sheffield United   4  19   0   8    3   1     1     1   3  10   0   13    3     0     0   2   3.90   3.57   2.04
                 Southampton       14  56   0  43   17   5     4     4  28  33   0   45   16     1     3   3  11.70  13.42  11.09
                 Stoke             10  52   0  38   13   5     6     5  17  31   0   38   12     3     0   8  11.96  10.60   6.23
                 Sunderland         5  32   2  18    6   6     2     3  19  28   0   37   12     1     3   5  11.13   8.26   3.34
                 Swansea           13  30   0  34    8   6     2     6  18  32   0   37   15     1     3   2  11.86  10.62   6.22
                 Tottenham         20  49   2  53   26  11     9     3  25  39   0   53   13     4     2   4   7.65  15.68  18.25
                 Watford           14  58   0  51   15   9     8     6  26  29   0   58   25     5     4   4  15.42  14.48   8.58
                 West Brom         10  28   0  35   12   6     2     4  18  20   0   41   14     1     0   4  13.65  10.45   5.86
                 West Ham          26  52   0  61   24   9    10    11  24  53   0   81   32     3     4  11  15.61  17.63  12.31
                 Wolves            17  27   0  27    9   6     3     2  14  20   1   19    5     2     1   6   5.32   6.69   5.73
Brighton         Arsenal           20  16   0  22   11   4     2     3  10  23   0   25    9     2     3   5   3.74   7.54   9.30
                 Bournemouth       13  15   0  40   15   5     7     2   9  23   1   23    7     2     1   4   6.93   6.40   4.78
                 Burnley           11  27   0  27   12   5     4     2  20  34   0   42   13     1     0   5  11.23   9.71   6.85
                 Cardiff            4  13   0  10    3   1     2     0   5  11   0   14    2     1     0   0   4.53   3.27   2.01
                 Chelsea            4  11   0  24   13   2     6     1   9  26   0   16    5     4     0   5   3.16   8.27  13.97
                 Crystal Palace    10  20   0  28    9   3     1     3  14  27   1   19    7     0     3   4   5.75   6.31   5.66
                 Everton           12  33   0  36   16   4     3     5  13  34   0   31   10     1     1   6   7.39   9.96   9.66
                 Fulham             1  14   0  10    5   3     2     2   7  12   0   15    5     1     0   3   3.47   3.45   2.24
                 Huddersfield       6  13   0  20    9   2     1     2  11  24   1   26    8     1     1   3  10.19   6.98   3.71
                 Leicester          9  21   2  33   16   5     5     1  18  30   0   36    6     0     1   7   7.67  10.03   9.44
                 Liverpool          9  12   0  22    9   0     6     1   4  23   0   13    2     2     0   1   2.84   9.94  17.36
                 Man City          16  17   0  34   13   2     6     1   5  18   0   12    4     2     1   0   2.52  13.72  26.58
                 Man United        11  16   0  25    6   1     2     4   8  21   0   17    7     1     3   3   3.69   7.15  10.17
                 Newcastle         12  18   0  26    6   4     1     2   9  13   0   16    5     1     0   4   6.56   6.28   5.13
                 Norwich            3   8   0   7    0   1     0     2   8  11   0   21    5     0     0   0   4.80   4.24   1.71
                 Southampton       17  30   0  26    7   6     4     1  16  26   1   33    6     1     0   5   8.74   9.65   8.40
                 Stoke              7   5   0  13    6   0     2     2   6  13   0    9    3     2     1   1   3.52   3.16   2.38
                 Swansea            5   6   0  11    1   0     1     4   3  17   0   16    5     0     1   1   4.36   3.15   2.11
                 Tottenham         15  21   0  40   16   2     3     5  12  32   0   33   15     1     2   5   5.33  11.95  15.52
                 Watford            4  21   0  18    1   0     0     1  13  23   0   35    7     0     0   1   5.95   6.47   5.32
                 West Brom          6   4   0  12    3   0     1     3   2   9   0   12    6     0     1   2   3.08   3.00   2.76
                 West Ham          16  25   0  29    8   5     2     5  14  34   0   46   13     1     2   6   9.45   9.75   7.67
                 Wolves            10   8   0  25    7   0     0     1   1  11   0    2    1     0     0   3   2.50   3.19   3.27
Burnley          Arsenal           16  20   0  52   11   1     5     1  11  21   0   32    8     0     0   7   5.23  13.40  19.21
                 Bournemouth       27  33   0  52   14   2     4     8  14  45   0   40   16     1     5   4   8.26  10.44   8.64
                 Brighton          11  28   0  23    2   2     0     1   5  16   0   24    8     0     1   2   6.55   6.35   5.15
                 Cardiff            4  10   0  14    2   3     0     2   8   7   0   14    7     0     1   2   4.48   3.63   1.90
                 Chelsea           13  40   0  69   22   6    11     4  13  42   0   31   12     5     1  11   6.47  17.34  28.68
                 Crystal Palace    31  45   0  56   16   5     7     5  20  40   0   51   17     2     3   5  11.78  13.25  11.04
                 Everton           28  58   2  54   20   9     7     6  24  41   0   50   18     4     2   7   9.58  13.77  16.07
                 Fulham             6   9   0  12    4   2     1     2   2   5   0   11    0     1     2   1   3.36   3.26   2.39
                 Huddersfield      14  24   0  28    4   4     1     1   4  17   0   11    6     0     1   5   8.22   6.27   4.37
                 Hull               9   3   0  11    3   0     1     1   5  13   0   13    2     0     0   2   3.36   3.21   2.44
                 Leicester         13  28   1  37   15   2     3     4  23  22   0   45    8     1     3   4   8.12   9.91   8.72
                 Liverpool         34  36   0  78   29   1     8     4  15  38   0   33   14     2     2   1   5.71  19.92  35.76
                 Man City          33  34   0  83   27   6     8     3  11  28   0   24   10     3     1   8   5.02  27.39  53.26
                 Man United        12  41   1  45   17   7     5     0  10  31   0   30    4     4     0   7   4.96  11.73  18.87
                 Middlesbrough      3  18   0   8    2   5     0     1   7  17   0    6    4     0     0   6   2.64   3.18   3.06
                 Newcastle          8  21   0  29    8   1     2     2  10  15   0   26    9     2     1   3   5.46   6.29   5.98
                 Norwich            3  10   0  11    2   1     0     2   7  11   0   13    6     0     2   0   3.73   3.80   2.02
                 Southampton       21  49   0  54   18   3     2     6  15  38   0   43   16     0     0   5  10.70  13.17  12.03
                 Stoke              9  30   0  29    9   2     0     2   9  15   0   17    5     0     0   3   7.03   6.32   4.78
                 Sunderland         2   8   0  11    3   1     1     4   6  10   0   16    6     0     1   1   3.41   3.26   2.38
                 Swansea           10  26   0  30   10   3     1     2  15  22   0   26   10     0     2   4   7.43   6.49   4.60
                 Tottenham         17  28   0  54   21   5     6     2  14  28   0   28    8     1     0   4   4.94  12.07  18.64
                 Watford           13  46   1  32   11   5     3     4  15  29   0   29   12     1     3   3   8.99   9.55   8.18
                 West Brom         13  25   1  19    4   3     3     2  10  20   0   34    4     0     0   2   6.71   6.37   4.95
                 West Ham          18  49   1  40   18   9     3     7  25  54   0   60   23     2     5   7  11.60  13.75  10.84
                 Wolves             5  10   0   8    1   1     0     2   1  12   0    5    1     0     1   1   2.50   3.23   3.21
Cardiff          Arsenal            9  14   0  17   11   4     3     2   3  12   0   14    3     1     1   3   1.55   4.54   6.35
                 Bournemouth        7  14   0   9    2   2     0     2   6  17   0   12    5     0     1   1   2.33   3.48   3.31
                 Brighton           1  21   1   7    3   1     1     2   4   7   0   20    6     1     1   2   3.11   3.19   2.61
                 Burnley            2  15   0   3    2   3     2     1  10  11   0   19    5     0     0   1   3.14   3.13   2.63
                 Chelsea            7  14   0  21    3   3     2     1   2   8   0    8    3     0     0   2   1.46   4.64   8.23
                 Crystal Palace     5  11   0  21    7   0     3     2  10  14   0   18    8     2     1   0   2.68   3.75   2.62
                 Everton            4  12   0  12    4   1     3     0   3  12   0    6    0     1     0   3   2.14   3.38   3.85
                 Fulham             4  16   0   9    4   3     2     4   4  15   0   22    5     2     2   3   3.02   3.46   2.51
                 Huddersfield      10  14   0  14    2   1     0     0   3  12   0    3    0     0     0   3   3.71   3.23   2.26
                 Leicester         12  12   0  13    5   2     1     0   6  13   0   11    2     0     0   2   2.16   3.37   3.85
                 Liverpool         10   5   0  17    6   1     2     0   5   6   0    7    2     0     0   1   1.21   7.07  14.96
                 Man City           9   4   0  21   10   1     5     0   1   6   0    2    2     3     0   1   1.18   7.97  21.06
                 Man United         7  13   0  17    9   1     5     1   4  13   0    9    3     3     1   2   1.62   4.10   6.27
                 Newcastle          5  16   1  12    6   2     0     0   5  14   0   12    1     0     0   2   2.54   3.12   3.25
                 Southampton        7  10   0  12    1   2     0     1   7   9   0   13    4     0     0   2   2.66   3.33   2.92
                 Tottenham          3   6   0  13    4   0     3     0   5   6   0    6    3     3     0   1   1.50   4.45   7.19
                 Watford            3  11   0  12    7   2     5     1   3  10   0   15    6     1     0   1   2.50   3.36   3.08
                 West Ham           5  12   0   9    2   1     0     2   7   7   0   16    7     0     1   2   2.21   3.43   3.58
                 Wolves             6  12   0  15    4   2     1     2   7   3   0   17    3     1     0   1   2.22   3.32   3.76
Chelsea          Arsenal           20  43   2  44   15   7     3     8  25  49   1   72   28     2     3   5  16.51  15.08   8.03
                 Aston Villa        9  27   0  17    4   4     1     4  13  40   0   34   12     1     2   3  21.36  11.35   2.65
                 Bournemouth       20  46   0  41   14   4     4     5  31  38   0   78   21     0     1   6  41.24  22.45   5.40
                 Brighton           4  30   0  19    3   4     0     7  25  18   0   66   22     0     1   2  40.89  17.61   3.92
                 Burnley           11  24   0  22    8   6     5     7  27  31   2   63   25     5     4   7  43.31  18.98   3.77
                 Cardiff            4  10   0   6    2   0     1     4   5   8   0   18    7     1     2   0  18.50   7.40   1.19
                 Crystal Palace    15  68   0  40   14   8     6     9  39  44   0  115   42     2     4   8  55.07  28.75   6.58
                 Everton           14  39   0  23    5   9     3    10  21  36   0   68   27     0     5   7  27.46  18.06   6.27